<body>
    <div>
        <div>Liste des pokémons : </div>
        <div style="display:flex; width:99vw; flex-wrap:wrap">
            {% for item in data %}
            <div class="pokemon">
                <pre>{{ item.name }}</pre>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{item.id_poke}}.png"/>
                <p> atk : {{ item.atk }}</p>
                <p> def : {{ item.defense }}</p>
                <p> spd : {{ item.speed }}</p>
                <p> hp : {{ item.hp }}</p>
                <p> id : {{ item.id_poke }}</p>
            </div>

            {% endfor %}
        </div>
    </div>
</body>
